.mainPage{
    z-index: 6;
    position: absolute;
}

.filedForCard{
position: relative;
z-index: -1;
}

.personalCabinet{
    background: #fff7da url(https://img.freepik.com/free-photo/black-friday-elements-assortment_23-2149074075.jpg?w=996&t=st=1700308407~exp=1700309007~hmac=dc1ac3e42e84fe94e002ec78be520d05b5c3ebcd28f6e2cb08e01a6514b3f95e);
    width: 300px;
    height: 200px;
    position: absolute;
    left: 20em;
    top: 1em;
    border-radius: 20px;
    background-size:cover;
    
}

.logIn{
    padding: 10px 20px 10px 20px;
    background: ivory;
    border-radius: 5px;
     position: absolute;
    bottom: 2em;
    left: 2em;
    border: 1px solid #d9d9d9;
}
.logIn:hover{
    opacity: .9;
}
.myOrders{
    padding: 10px 20px 10px 20px;
    background: ivory;
    border-radius: 5px;
     position: absolute;
    bottom: 2em;
    right: 2em;
    border: 1px solid #d9d9d9;
}
.myOrders:hover{
    opacity: .9;
}
.personalCabinetTitle{
    color: #332;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    opacity: .9;
    margin-bottom: 8px;
    position:relative;
    top: 1em;
}
.personalCabinetContent{
    color: #333;
    opacity: .9;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    z-index: 5;
    text-align: start;
    left: 1em;
    top: 1em
}
.comparison{
    background-image: url(https://img.freepik.com/free-photo/still-life-illustrating-ethics-concept_23-2149412255.jpg?w=996&t=st=1700333970~exp=1700334570~hmac=5b19e9dbdf6d8b4588887fd1c8231b65591c725b6d8b1d51000cfed897f185d4);
    width: 300px;
    height: 200px;
    position: absolute;
    top: 1em;
    border-radius: 20px;
    background-size: cover;
    right: -62em;
    background-size: contain;
}
.comparisonTitle{
    color: #332;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    opacity: .9;
    margin-bottom: 8px;
    position: relative;
    top: 1em;
}

.cardProducts{
    position: absolute;
    left: 20em;
    top: 18em;
    display: flex;
    gap: 110px;
}
.cardProductsImage{
    background-image:url(https://img.freepik.com/free-photo/3d-render-of-a-rotavator_1048-8459.jpg?w=900&t=st=1700334257~exp=1700334857~hmac=06993bdfbc55e41d57f17d86b49b5a2dc0573faa16082461ac0f71af6594910b);
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background-size: cover;
}
.cardProductsImage2{
    background-image:url(https://img.freepik.com/premium-photo/corner-of-the-house-where-the-water-heater-is-located-ai-generated_925376-6408.jpg?w=996);
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background-size: cover;
}
.cardProductsImage3{
    background-image:url(https://img.freepik.com/premium-photo/espresso-coffee-machine_770606-2948.jpg?w=826);
    width: 200px;
    height: 150px;
    border-radius: 20px;
    background-size: cover;
}
.item{
    display: flex;
    border-radius:20px;
}
.descriptionItem a{
    color: #8c8c8c;
    font-size: 14px;
    cursor: pointer;
    line-height: 16px;
    margin-top: 11px;
}
.descriptionItem:hover{
    text-decoration:underline;
}
.item:hover{
    box-shadow: 0px 0px 5px;
    transition: 1s;
    transform: scale(1.1);
}